<div class="row">
    <dir-deportista deportista="deportista"></dir-deportista>
    <dir-deporte deporte="deporte"></dir-deporte>
</div>
<div class="container">
    <h2>Calendario de eventos</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Modalidad</th>
            <th>Resultado</th>
            <th>help</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="evento in eventos">
            <td align="center">{{dateFormat(evento.fecha_hora)}}</td>
            <td align="center">{{hourFormat(evento.fecha_hora)}}</td>
            <td align="center">{{evento.modalidad}}</td>
            <td align="center">{{evento.resultado}}</td>
            <td>{{ deportista.nombre }}</td>
        </tr>
        </tbody>
    </table>
</div>