<div class="row" style="margin-left: 100px; margin-right: 100px">
    <div class="jumbotron" style="padding: 10px">
        <h1>Bienvenido a OlimpiColombia</h1>
        <p>Acá podrás seguir el rendimiento de todos nuestros deportistas colombianos en Rio 2016</p>
    </div>
    <h2>Deportes</h2>
    <div class="col-sm-6 col-md-3" ng-repeat="deporte in deportes">
        <div class="thumbnail">
            <a href="#/{{deporte.id}}"><img ng-src="{{deporte.url}}" height="300px" class alt="{{deporte.nombre}}"></a>
            <div class="caption">
                <h3 align="center">{{deporte.nombre}}</h3>
            </div>
        </div>
    </div>
</div>