{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OlimpiColombia</title>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Patua+One'  >
    <link rel="stylesheet" type="text/css" href="{% static "bower_components/bootstrap/dist/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/general.css" %}">
</head>
<body ng-app="app">

<dir-header></dir-header>
<div ng-view class="container" style="width: 90%"></div>
<fb:login-button onlogin="Log.info.bind('onlogin callback')">
</fb:login-button>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
<script src='http://connect.facebook.net/en_US/all.js'></script>
<script src="{% static "bower_components/moment/moment.js" %}"></script>
<script src="{% static "bower_components/moment/locale/es.js" %}"></script>

<script src="{% static "bower_components/underscore/underscore.js" %}"></script>
<script src="{% static "bower_components/angular/angular.js" %}"></script>
<script src="{% static "bower_components/angular-route/angular-route.min.js" %}"></script>
<script src="{% static "bower_components/angular-resource/angular-resource.js" %}"></script>
<script src="{% static "app/views/header/facebookScript.js" %}"></script>
<script src="{% static "app/views/header/facebookLogin.js" %}"></script>
<script src="{% static "app/app.js" %}"></script>

<!-- load controllers -->
<script src="{% static "app/views/deportes/deportes.js" %}"></script>
<script src="{% static "app/views/deportes/dir-deporte.js" %}"></script>
<script src="{% static "app/views/deportistas/deportistas.js" %}"></script>
<script src="{% static "app/views/deportistas/dir-deportista.js" %}"></script>
<script src="{% static "app/views/eventos/eventos.js" %}"></script>
<script src="{% static "app/views/usuarios/registro.js" %}"></script>
<script src="{% static "app/views/header/header.js" %}"></script>

<!-- load models -->
<script src="{% static "app/models/deporte-model.js" %}"></script>
<script src="{% static "app/models/deportista-model.js" %}"></script>
<script src="{% static "app/models/evento-model.js" %}"></script>
<script src="{% static "app/models/usuario-model.js" %}"></script>
<script src="{% static "app/models/login-model.js" %}"></script>
</body>
</html>